.app {
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "error"
    "speedometer";
  grid-template-rows:
    auto
    130px;
  height: 100vh;
  position: relative;
}

.error {
  grid-area: error;
  text-align: center;
}

.speedometer {
  grid-area: speedometer;
  position: absolute;
  left: 50%;

  .arrow {
    width: 3px;
    height: 15px;
    background-color: red;
  }
  
  .number-strip {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 5rem;
    padding-top: 2px;
    transition: 1000ms;
    transition-timing-function: cubic-bezier(.13,.75,.17,.98);

    .label {
      flex-basis: 50px;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: center;
      width: 100%;
      position: relative;

      .tick {
        position: absolute;
        left: 50%;
        background-color: black;
        width: 3px;
        height: 15px;
      }

      .value {
        position: relative;
        padding-top: 10px;
        width: 50px;
      }
    }
  }
}