.app {
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "error"
    "rolling-meter";
  grid-template-rows:
    auto
    130px;
  height: 100vh;
  position: relative;
}

.error {
  grid-area: error;
  text-align: center;
}